header {
  background: #222;
  height: 52px;
  color: #9d9d9d;
  margin-bottom: 20px;
  a {
    color: #9d9d9d;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    line-height: 52px;
    .brand {
      font-size: 22px;
    }
    nav {
      float: right;
      ul {
        font-size: 0;
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          font-size: 14px;
          display: inline-block;
          -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
          a {
            display: inline-block;
            padding: 0 10px;
            height: 52px;
            &:hover {
              background-color: #000;
            }
          }
        }
      }
    }
  }
}
